body {
  	font-family: 'Helvetica Neue','Open Sans',Arial,sans-serif;
  	width: 100%;
  	height: 100%;
}

a {
    color: white;
}

a:hover, a:focus {
    color: #e6b800;
}

header {
  	padding: 20px 0;
  	width: 100%;
    min-height: auto;
  	background-image: url('../img/fundoHeader.jpg');
  	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}