body {
    font-family: 'Delius',Arial,sans-serif;
    width: 100%;
    height: 100%;
    cursor: default;
    text-align: center;
    color: rgb(153, 153, 153);
}
/*Header div principal*/
.header-content {
    color: white;
    padding: 10px 0;
    position:relative;
    text-align: center;
    background: url('fundoHeader.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*div com conteúdo do header*/
.header-content-inner {
    position: relative;
    width: 100%;
    padding: 150px 0 170px 0;
    text-align: center;
}

.header-content-inner .container h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 300;
    font-family: 'Allura', cursive;
    color:#c59d5f;
}

.header-content-inner .container p {
    
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}
/*div com cabeçalho do header*/
.navbar {
    margin-bottom: 0;
    padding-top: 20px;
    border: 0!important;
    background: none!important;
    font-size:20px;
}

.navbar-brand img{
    margin-top:-33px;
    width:120px;
    height:100px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-inverse .nav li a
{
    color:white;
    background-color: transparent;
}

.navbar-inverse .nav li a:focus,
.navbar-inverse .nav li a:hover
{
    color:#c59d5f;
    background-color: transparent;
}
 
/*navbar sobre nos e contactos*/
.top-content .navbar-nav {
    margin-top:10px;
    border-bottom: 2px solid #c59d5f;
}

.top-content .navbar-inverse .nav li a
{
    color:black;
    background-color: transparent;
}
.top-content .navbar-inverse .nav li a:focus,
.top-content .navbar-inverse .nav li a:hover
{
    color:#c59d5f;
    background-color: transparent;
}


.btn {
    margin-top: 180px;
    border: 3px solid #c59d5f;
    border-radius: 50px;
    background-color: transparent;
    color: rgba(255,255,255,.7);
    font-size: 40px;
    font-family: 'Delius', sans-serif;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: rgba(255,255,255,.2);
    color: rgba(255,255,255,.7);
}

/*div com informação sobre STOPAUTO*/
.info-container { 
    margin: 0 auto; 
    padding-bottom: 80px; 
}

.title-container h1{ 
    color:#c59d5f;
    margin-top: 120px; 
    padding-bottom: 10px;
    font-family: 'Allura', cursive;
    font-size: 80px;
}

.divider-1 { padding: 15px 0 75px 0; }

.divider-1 .line { 
    width: 160px; 
    margin: 0 auto; 
    border-bottom: 1px solid #c59d5f; }

.info-description { 
    margin-top: 30px; 
    text-align: left; 
}

.info-description h1 { 
    margin-top: 0; 
    padding: 0 0 10px 0;
    color: black;
    font-family: 'Indie Flower', cursive;
}

.info-description p { 
    font-size: 20px;
}

.info-description .btn{
    color: black;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 150px;
}
.info-description .btn:hover,
.info-description .btn:active {
    background-color: rgba(230, 230, 230,0.8);
    color: black;
}

/*div com contactos*/
.logo-container img {
    margin-top: 50px;
    margin-left: 50px;
}

.separator {
    background-color: rgba(179, 179, 179,0.5);
    height: 300px;
    margin-top: 30px;
}

.separator img{
    width: 450px;
}

.contact-container { 
    margin: 0 auto; 
    padding-bottom: 80px;
    background-color: rgb(20, 20, 20);
    color: rgb(166, 166, 166);
}

.contact-container img{
    width: 450px;
    margin-left: -150px;
    margin-bottom: 100px;
    margin-top: 0px;
}

.contact-description {
    margin-top: 40px;
}

.contact-description h1 { 
    margin-top: -10px; 
    padding: 0 0 10px 0;
    color: black;
    font-family: 'Indie Flower', cursive;
    color:#c59d5f;
}

.contact-description p { 
    font-size: 20px;
}

.contact-description .btn{
    color: white;
    font-size: 20px;
    margin-top: 50px;
}
.contact-description .btn:hover,
.contact-description .btn:active {
    background-color: rgba(230, 230, 230, 0.3);
    color: white;
}

footer {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size:20px;
    text-align: center;
    color:black;
}
/* types of font
font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Delius', cursive;  --> texto
--> titulos
font-family: 'Indie Flower', cursive;
font-family: 'Montez', cursive;  
font-family: 'Dancing Script', cursive;
font-family: 'Allura', cursive;
*/